<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ybg.yxym.yueshow"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.write_contacts"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS."/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- LIVE -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
        android:name=".app.ShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56fbb4b567e58e5cb3002e02"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 选择图片界面，由于发布或者选择头像等 -->
        <activity
            android:name=".view.gallery.MultiImageSelectorActivity"
            android:screenOrientation="portrait"/>
        <!-- 拍照，新建悦秀过程之一。 -->
        <activity
            android:name=".activity.photo.CameraActivity"
            android:screenOrientation="portrait"/>
        <!-- 图片处理、加工，新建悦秀过程之一。 -->
        <activity
            android:name=".activity.photo.PhotoProcessActivity"
            android:screenOrientation="portrait"/>

        <!-- 完善用户资料，注册过程之一。 -->
        <activity
            android:name=".activity.user.CompleteDataActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户界面装饰，用户中心分支之一。 -->
        <activity
            android:name=".activity.user.DressUpActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户等级，用户资料之一。 -->
        <activity
            android:name=".activity.user.LevelActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户登录主界面。 -->
        <activity
            android:name=".activity.user.LoginActivity"
            android:screenOrientation="portrait"/>
        <!-- 显示用户密爱，用户资料之一。 -->
        <activity
            android:name=".activity.user.MiAiActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户资料主界面。 -->
        <activity
            android:name=".activity.user.MyInformationActivity"
            android:screenOrientation="portrait"/>
        <!-- 兴趣爱好，用户资料之一。 -->
        <activity
            android:name=".activity.user.MyInterestActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户注册主界面，注册过程之一。 -->
        <activity
            android:name=".activity.user.RegisterActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户资料，设置过程之一。 -->
        <activity
            android:name=".activity.user.SelectPlaceActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户资料，设置过程之一。 -->
        <activity
            android:name=".activity.user.UpdataUserMsgActivity"
            android:screenOrientation="portrait"/>
        <!-- 用户中心。 -->
        <activity
            android:name=".activity.user.UserCenterActivity"
            android:screenOrientation="portrait"/>
        <!-- 设置界面。 -->
        <activity
            android:name=".activity.user.UserSettingActivity"
            android:screenOrientation="portrait"/>
        <!-- 开始悦秀第一步。 -->
        <activity
            android:name=".activity.user.EntryActivity"
            android:screenOrientation="portrait"/>
        <!-- 开始悦秀第三步。 -->
        <activity
            android:name=".activity.show.PhotoPostActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.show.VideoPostActivity"
            android:screenOrientation="portrait"/>
        <!-- 悦美榜 -->
        <activity
            android:name=".activity.bang.ShowBang"
            android:screenOrientation="portrait"/>
        <!-- 美秀详情 -->
        <activity
            android:name=".activity.show.ShowDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.video.VideoProcessActivity">
        </activity>
        <activity android:name=".activity.video.VideoShotActivity">
        </activity>
        <activity android:name=".activity.live.LivingActivity">
        </activity>
        <activity android:name=".activity.live.ShowLiveActivity">
        </activity>

        <receiver android:name=".receiver.PushMsgReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>